<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>MySFR Project</title>
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<header>
			<div class="banner">
				<img src="logo.png" alt="SRF" class="logo" />
				<h1>News</h1>
			</div>
			<ul>
				<li>My SRF</li>
			</ul>
		</header>

		<main>
			<div class="wrapper">
		
				{% for recommender in recommenders %}
				<div>
					<h2>Recommended by {{ recommender.name }}</h3>
					<p>{{ recommender.reason }}</p>
					<ul class="recommend-list">
						{% for article in recommender.recommendations %}
						<li>

							<article data-id="{{ article.id }}">
								<a target="_blank" href="{{ article.info.representationLinks.web }}">
								<img src="{{ article.info.image.variations["480ws"] }}" alt="" />
									<div class="body">
										<div class="mark">{{ article.info.kicker }}</div>
										<h2>{{ article.info.title }}</h2>
										<div class="meta">Reason: {{ article.reason }}<br>Certainty: {{ article.certainty }}</div>
									</div>
								</a>
							</article>


						</li>
						{% endfor %}
					</ul>
				</div>
				{% endfor %}

				<div class="cta-recommend">
					<a href="{{ path('index') }}" class="big-button">Get new recommendations</a>
				</div>

			</div>
		</main>

	</body>
</html>
